extends ./layout.jade

block body

	div.container

		div.nav
			include ./menu.jade

		div(class="issueBackground heading issue-1")
			h1 About Word Addict

		div.content
			include ../static/about.html