doctype html
html
	head

		meta(charset="utf-8")

		link(rel="stylesheet", href="/css/normalize.css")
		link(rel="stylesheet", href="/css/typebase.css")
		link(rel="stylesheet", href="/css/default.css")

		block title
			title The Word Addict

	body

		block body