h2
	| The&nbsp;
	span(class="issueColor issue-"+wordaddict.issueNumber) Word
	| &nbsp;Addict

menu
	li.offset
		a(href="/") title

	li
		a(href="/prose.html") prose
	li
		a(href="/poetry.html") poetry
	li.offset
		a(href="/essays.html") essays

	li
		a(href="/events.html") events
	li
		a(href="/gallery.html") gallery
	li
		a(href="/about.html") about