extends ./layout.jade

block body

	div.container

		div.nav
			include ./menu.jade

		div(class="issueBackground heading issue-" + wordaddict.issueNumber)
			h1= piece.title
			h3
				| by&nbsp;
				em= piece.author

		div.content!= piece.html

block meta_og
	meta(property="og:title", content= piece.title + " | The Word Addict")
	meta(property="og:description", content="Read " +  piece.title + ", a work by " + piece.author + ", published in The Word Addict - a planetary literary magazine, provincially based in Prague.")

block title

	title= piece.title + " | " + piece.author + " | The Word Addict" 